.DS_Store
.ipynb_checkpoints

*~
*.gl
*.csv
*.npz
*.png
*_data

notes.txt
feedback.txt

clustering_retrieval/images.sf/
mlFoundations/
mlFoundations/*
iPython_notebook_basics.ipynb
clustering_retrieval/lda_*
  
